# Kibana Official (7.17.3)

resources:
  requests:
    cpu: "100m"
    memory: "512Mi"
  limits:
    cpu: "1000m"
    memory: "1Gi"

# ES 연결 주소
elasticsearchHosts: "http://elasticsearch-master:9200"

# 외부 접속 (Ingress)
ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: kibana.local
      paths:
        - path: /




