apiVersion: v1
kind: PersistentVolume
metadata:
  name: minio-hdd-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 400Gi 
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/data-hdd/gdelt-data/minio-data"
    type: DirectoryOrCreate

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-hdd-pvc
  namespace: airflow 
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 400Gi