apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-custom
  namespace: airflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:13 
        env:
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "postgres"
        - name: POSTGRES_DB
          value: "airflow"
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
        # 초기화 스크립트 볼륨 마운트
        - name: init-scripts-volume
          mountPath: /docker-entrypoint-initdb.d # Postgres가 자동으로 실행하는 경로
      
      # 스크립트 볼륨 정의
      volumes:
      - name: postgres-storage
        emptyDir: {}
      - name: init-scripts-volume
        configMap:
          name: postgres-init-scripts
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-custom
  namespace: airflow
spec:
  selector:
    app: postgres
  ports:
  - port: 5432
    targetPort: 5432