apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
  namespace: airflow
data:
  # init-postgres.sh은 Postgres 컨테이너가 자동으로 인식하는 이름
  # /docker-entrypoint-initdb.d/init-postgres.sh 에 마운트 
  init-postgres.sh: |
    #!/bin/sh
    set -e

    # 반복되는 로직은 함수로 정의
    create_db_if_not_exists() {
      local DBNAME=$1
      # psql 명령어로 DB 목록을 조회해서, 찾는 DB가 있는지 확인
      # -t: 헤더 없이 결과만 출력, -A: 정렬 없이 출력, -c: 명령어 실행
      if psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" -tAc "SELECT 1 FROM pg_database WHERE datname='$DBNAME'" | grep -q 1; then
        echo "Database '$DBNAME' already exists. Skipping."
      else
        echo "Database '$DBNAME' does not exist. Creating..."
        # 존재하지 않을 때만 생성 명령을 실행
        psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" -c "CREATE DATABASE $DBNAME"
      fi
    }

    echo "Setting up databases..."
    # 함수를 호출해서 각 DB를 체크하고 생성
    create_db_if_not_exists "metastore_db"

    # 권한 부여는 DB 생성이 확실히 끝난 뒤에 실행
    echo "Granting privileges..."
    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
        GRANT ALL PRIVILEGES ON DATABASE metastore_db TO $POSTGRES_USER;
    EOSQL

    echo "Databases and privileges are set up successfully!"